body {
    background-color:lavender;
}

.bold {
    font-weight: bold;
}

.link {
    color:blue;
    text-decoration: underline;
    text-decoration-color: blue;
}

.indent {
    padding-left: 50px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

h3 {
    font-weight: lighter;
}